*~
.deps
.libs
._parmfiles
autom4te*
aclocal*
m4
*.stamp
stamp-h1

*.tar.*
*.o
*.lo
*.dylib
*.la
*.a
calfiles/*.fit
calfiles/*.dat
calfiles/*.TLE
parmfiles/*.fit
parmfiles/*.dat

compile
config.h
config.h.in
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
scripts/cf_make_all.csh
scripts/cfsetup.csh
scripts/cfsetup.sh
src/analysis/bpm_combine
src/analysis/cf_arith
src/analysis/cf_coadd
src/analysis/cf_combine
src/analysis/cf_make_all_exp
src/analysis/cf_nvo
src/analysis/cf_pack
src/analysis/cf_reflux
src/analysis/cf_ttag_to_hist
src/analysis/cf_xcorr
src/analysis/extract_jitter
src/analysis/get_shift
src/analysis/idf_combine
src/analysis/idf_cut
src/analysis/idf_screen
src/analysis/mjd2hjd
src/analysis/modhead
src/analysis/remove_target_orbital_motion
src/analysis/ttag_combine
src/analysis/ttag_lightcurve
src/analysis/ttag_lightcurve_channel_sum
src/analysis/ttag_lightcurve_combine
src/analysis/ttag_lightcurve_mjd2hmjd
src/analysis/ttag_lightcurve_periodogram
src/cal/geom/make_geom_file
src/cal/get_tle/GetTLE.class
src/cal/get_tle/GetTLE.java
src/cal/get_tle/add_tle.pl
src/cal/get_tle/check_tle.pl
src/cal/get_tle/classjava.stamp
src/cal/get_tle/get_tle.pl
src/cal/get_tle/get_tle.pl.space-track
src/cal/get_tle/make_cvzramtool.pl
src/cal/get_tle/make_orbit.pl
src/cal/get_tle/test_get_tle.pl
src/cal/get_tle/update_tle.csh
src/cal/jitter/cf_jitter
src/cal/jitter/cf_jitter_diag
src/cal/parm/make_parm_file
src/cal/saa/make_saa_file
src/cal/screen/make_screen_file
src/fes/cf_calfes
src/fuv/cf_assign_wavelength
src/fuv/cf_bad_pixels
src/fuv/cf_convert_to_farf
src/fuv/cf_countmap
src/fuv/cf_extract_spectra
src/fuv/cf_flux_calibrate
src/fuv/cf_gainmap
src/fuv/cf_hist_init
src/fuv/cf_remove_motions
src/fuv/cf_screen_photons
src/fuv/cf_ttag_init
